.fp-card{
  background:#fff;
  border-radius:12px;
  padding:20px;
  box-shadow:0 4px 12px rgba(0,0,0,.1);
  transition:.3s;
  text-align:center;
}

.fp-card:hover{
  transform:translateY(-5px);
}

.fp-card img{
  width:100%;
  height:160px;
  object-fit:contain;
  border-radius:10px;
}

.fp-info{
  margin-top:6px;
}

.fp-info h3{
  font-size:18px;
  margin:7px 0 6px;
}

.category{
  color:#777;
  margin-bottom:8px;
}

.fp-info h4{
  color:#ff6b00;
  margin-bottom:10px;
}

.fp-info button{
  width:100%;
  padding:10px;
  border:none;
  background:#222;
  color:#fff;
  border-radius:6px;
  cursor:pointer;
  transition:.3s;
}

.fp-info button:hover{
  background:#ff6b00;
}