.footer{
    background:#111827;
    color:#fff;
    margin-top:90px;
}

.footer-container{
    width:85%;
    margin:auto;
    padding:70px 0 50px;

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
    gap:40px;
}

.footer-logo{
    font-size:2rem;
    color:#ff6b35;
    margin-bottom:18px;
}

.footer-box h3{
    font-size:1.25rem;
    margin-bottom:20px;
    color:#fff;
}

.footer-box p{
    color:#cbd5e1;
    line-height:1.8;
    margin-bottom:12px;
}

.footer-box a{
    display:block;
    color:#cbd5e1;
    text-decoration:none;
    margin-bottom:14px;
    transition:.3s;
}

.footer-box a:hover{
    color:#ff6b35;
    transform:translateX(6px);
}

.social-icons{
    display:flex;
    gap:15px;
    margin-top:25px;
}

.social-icons svg{
    width:42px;
    height:42px;
    padding:10px;
    background:#1f2937;
    border-radius:50%;
    cursor:pointer;
    transition:.35s;
}

.social-icons svg:hover{
    background:#ff6b35;
    transform:translateY(-6px);
}

.footer-bottom{
    border-top:1px solid rgba(255,255,255,.08);
    text-align:center;
    padding:22px;
    color:#94a3b8;
    font-size:.95rem;
}

@media(max-width:768px){

    .footer{
        margin-top:70px;
    }

    .footer-container{
        width:90%;
        padding:50px 0 35px;
        gap:35px;
    }

    .footer-logo{
        font-size:1.8rem;
    }

    .footer-box{
        text-align:center;
    }

    .social-icons{
        justify-content:center;
    }
}