.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;
  background: #222;
  z-index: 1000;
  box-sizing: border-box;
}

.logo{
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav-links{
  display: flex;
  gap: 20px;
}

.nav-links a{
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 6px;
  transition:all 0.3s ease;
}

.nav-links a:hover{
  color: #ff6b00;
  background: rgba(255,255,255,.08);
}

.nav-links a.active{
    color:#ff6b00;
    font-weight:600;
}

.logo{
    text-decoration:none;
    color:white;
}

.logo:hover{
    color:#ff6b00;
}
.nav-icons{
    display:flex;
    align-items:center;
    gap:18px;
}

.nav-icons a,
.search-btn{
    display:flex;
    align-items:center;
    justify-content:center;

    width:42px;
    height:42px;

    border:none;
    border-radius:50%;

    background:transparent;
    color:white;

    cursor:pointer;

    transition:.3s;
    text-decoration:none;
}

.nav-icons a svg,
.search-btn svg{
    font-size:22px;
}

.nav-icons a:hover,
.search-btn:hover{
    background:#333;
    color:#ff6b00;
}
.menu-btn {
  display: none;
  background: transparent;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

@media (max-width: 768px) {

  .menu-btn {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: -100%;
    width: 100%;
    background: #222;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
    transition: 0.3s;
  }

  .nav-links.active {
    left: 0;
  }

  .nav-icons {
    display: none;
  }
}